.immagine{
    padding-top: 50px;
    padding-right: 50px;
    
   }
   .testo{
    text-align: center;
    padding-left: 200px;
    padding-right: 500px;
   }
   .barre{
    margin-right: 500px;

   }