.immagine{
    padding-top: 50px;
    padding-right: 50px;
    
   }
   .testo{
    text-align: center;
    padding-left: 200px;
    padding-right: 500px;
   }
   .barre{
    margin-right: 500px;

   }
  .mb-4{
    padding-left: 500px;
  }
 .immagine2{
  max-height: 500px;
 }
 .Nome {
  background-color: aquamarine;
 }
 .professioni {
background-color: blueviolet;
 }
 .skills{
  background-color: coral;
 }
 .contatti{
  background-color: orange;
 }